<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<insert id="insertBoard">
		insert into room_manager (place, name, email, professor)
		values
		(#{place}, #{name}, #{email}, #{professor})
	</insert>
	<!-- <update id="updateBoard">
		update LF_Product_Test
		set title=#{title},
		content=#{content},
		writer=#{writer}, category=#{category},
		photourl=#{photourl}, lost_found_date=#{lost_found_date},
		lost=#{lost}, feature=#{feature}
		where seq=#{seq}
	</update>
	<delete id="deleteBoard">
		delete from LF_Product_Test where seq=#{seq}
	</delete>
	<select id="getBoard" resultType="board">
		select * from LF_Product_Test
		where
		seq=#{seq}
	</select>
	-->
	<select id="getBoardList" resultType="board">
		select * from
		room_manager order
		by seq
	</select>
</mapper>